/* style.css */

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    min-height: 100vh;
    color: white;
    position: relative;
    overflow-x: hidden; /* Hide horizontal overflow */
    scrollbar-width: none; /* For Firefox */
}

body::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* For Chrome, Safari, and Opera */
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #121212;
    z-index: -1;
    pointer-events: none; /* Ensure particles don't block interaction with content */
}

.container {
    width: 90%;
    max-width: 1200px;
    margin-bottom: 40px;
    z-index: 1;
}

.section {
    padding: 40px;
    background-color: rgba(31, 31, 31, 0.8);
    border-radius: 8px;
    margin-bottom: 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 20px;
}

.subtitle {
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 20px;
    color: #ccc;
}

.intro-text, .conclusion-text, .call-to-action {
    font-size: 1.2em;
    line-height: 1.6em;
    text-align: center;
    color: #bbb;
    margin-bottom: 20px;
}

h2 {
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.graph-container {
    width: 100%;
    max-width: 1000px;
    border: 0.125rem solid #333;
    border-radius: 0.5rem;
    padding: 0.625rem;
    background-color: #262626;
    margin-bottom: 2.5rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Add depth to the graph container */
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box; /* Ensure padding does not affect width */
    overflow: hidden; /* Prevent overflow issues */
}

.visual-container {
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.2em;
}

.timeline {
    padding: 20px;
    background-color: #262626;
    border-radius: 8px;
    margin-top: 20px;
}

.call-to-action {
    font-weight: 700;
    font-size: 1.4em;
    color: #fff;
    text-align: center;
}

.info i {
    color: #F39C12; /* Custom color for icons */
}


/* Mobile Styles */

@media only screen and (max-width: 768px) {
    .container {
        width: 100%; /* Full width on mobile */
        padding: 10px; /* Less padding */
    }

    h1 {
        font-size: 2em; /* Reduce font size on mobile */
        margin-bottom: 15px;
    }

    h2 {
        font-size: 1.5em; /* Reduce font size on mobile */
        margin-bottom: 20px;
    }

    .graph-container {
        max-width: 100%; /* Allow the graph container to be full width */
        padding: 10px; /* Less padding on mobile */
    }

    .section {
        padding: 20px; /* Less padding on mobile */
        margin-bottom: 20px; /* Less margin between sections */
    }

    .intro-text, .conclusion-text, .call-to-action {
        font-size: 1em; /* Smaller font on mobile */
        line-height: 1.4em;
    }

    .call-to-action {
        font-size: 1.2em;
    }

    frame {
    width: 100%; /* Full width of the container */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Ensure iframe does not exceed container width */
    aspect-ratio: 16/9; /* Maintain a 16:9 aspect ratio */
    border: none; /* Remove any border */
    }
}