/* style.css */

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    min-height: 100vh;
    color: white;
    position: relative;
    overflow-x: hidden; /* Hide horizontal overflow */
    scrollbar-width: none; /* For Firefox */
}

body::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* For Chrome, Safari, and Opera */
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #121212;
    z-index: -1;
    pointer-events: none; /* Ensure particles don't block interaction with content */
}

.container {
    width: 90%;
    max-width: 1200px;
    margin-bottom: 40px;
    z-index: 1;
}

.section {
    padding: 40px;
    background-color: rgba(31, 31, 31, 0.8);
    border-radius: 8px;
    margin-bottom: 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 20px;
}

.subtitle {
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 20px;
    color: #ccc;
}

.intro-text, .conclusion-text, .call-to-action {
    font-size: 1.2em;
    line-height: 1.6em;
    text-align: center;
    color: #bbb;
    margin-bottom: 20px;
}

h2 {
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.graph-container {
    width: 100%;
    max-width: 1000px;
    border: 2px solid #333;
    border-radius: 8px;
    padding: 20px;
    background-color: #262626;
    margin-bottom: 40px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Add depth to the graph container */
    margin-left: auto;
    margin-right: auto;
}

.visual-container {
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.2em;
}

.timeline {
    padding: 20px;
    background-color: #262626;
    border-radius: 8px;
    margin-top: 20px;
}

.call-to-action {
    font-weight: 700;
    font-size: 1.4em;
    color: #fff;
    text-align: center;
}

.info i {
    color: #F39C12; /* Custom color for icons */
}
